.logo {
    display: flex;
    align-items: center;
  }
  .logo img {
      height: 40px;
      margin: 5px;
    }
    .navbar {
    
      padding: 0 1rem; 
      margin: 0;
      border-radius: 0;
    }
    .navbar-nav {
      margin-left: auto;
    }
    
    .nav-link {
      color: black;
    }
    
    .nav-link:hover {
      color: #333;
    }
    
  body{
    background-color: black;
     margin: 0;
    }

.Welcome{
    margin: 30px;
    text-align: center;
    color: yellow;
    padding: 20px;
}
.Register{
    margin: 30px auto;
    text-align: center;
    width: 80%;
    max-width: 600px;
    border: 5px solid #ffd700;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffd700;
    box-shadow: 0px 4px 6px rgba(255, 215, 0, 0.3);
}
.Register h2{
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
}
.Register form {
    color: #000000;
}
.Register form input,
.Register form select {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
}
.Register form button {
    background-color: #000;
    color: #ffd700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.Register p {
    color: #000000;
    margin-top: 15px;
}
.Register a {
    color: #000;
    text-decoration: underline;
}

.lgn{
    margin: 30px auto;
    text-align: center;
    width: 80%;
    max-width: 600px;
    border: 5px solid #ffd700;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffd700;
    box-shadow: 0px 4px 6px rgba(255, 215, 0, 0.3);
}
.lgn h2{
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
}
.lgn form {
    color: #000000;
}
.lgn form input,
.lgn form select {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
}
.lgn form button {
    background-color: #000;
    color: #ffd700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.lgn p {
    color: #000000;
    margin-top: 15px;
}
.lgn a {
    color: #000;
    text-decoration: underline;
}

