.logo {
  display: flex;
  align-items: center;
}
.logo img {
    height: 40px;
    margin: 5px;
  }
  .navbar {
  
    padding: 0 1rem; 
    margin: 0;
    border-radius: 0;
  }
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-link {
    color: black;
  }
  
  .nav-link:hover {
    color: #333;
  }
  
body{
  background-color: black;
   margin: 0;
  }

.services{
  margin-top: 100px;
  text-align: center;
}

h1{
  
  text-align: center;
  color: yellow;
}

.SubServices_grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.SubServices_grid div {
  background-color: rgba(255, 255, 255, 0.1);
  flex: 1;
  border: 1px solid #ffd700;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(255, 215, 0, 0.1);
}

.SubServices_grid h3 {
  color: #ffd700;
  margin-top: 15px;
}

.SubServices_grid p {
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1.5;
}

.SubServices_grid img {
  width: 200px;
  height: 150px;
  object-fit: strech;
}
.About{ 
  height: 400px; 
  width: 80%;
  max-width: 1000px;
  flex: 1;
  border: 5px solid #ffd700;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(255, 215, 0, 0.3);
  text-align: center; 
  background-color: #ffd700;
  margin: 20px auto;
} 
.About h1{ 
  padding: 30px 0px 20px 0px; 
  color: #000000;
  font-weight: bold;
} 
.About img{ 
  height: 120px; 
  width: 150px; 
} 
.About h2{ 
  margin: 20px 0px 20px 0px; 
} 
.About p{ 
  width: 80%; 
  text-align: center; 
  color: #000000;
  line-height: 25px; 
  margin: 0 auto;
  font-weight: 500;
} 

